<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipie</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list list-group-item clearfix margin-small-bottom"
      *ngFor="let recip of recipie"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recip.name }}</h4>
        <p class="list-group-item-text">{{ recip.description }}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="recip.itemImage"
          alt=""
          class="img-responsive"
          style="max-height: 50px"
        />
      </span>
    </a>
    <app-recipie-item></app-recipie-item>
  </div>
</div>
